# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Booking App
on:
  push:
    branches: [ main ]

jobs:
#First we will see the application build or not , then we will deploy in EC2
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Install Dependencies
      run: npm ci
      
    - name: Buid the application
      run: npm run build

  Deploy:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy in EC2
        uses: appleboy/ssh-action@v0.1.10 
        with:
            key: ${{ secrets.KEY  }}
            host : ${{ secrets.HOSTNAME  }}
            username : ${{ secrets.USER_NAME  }}
            port : ${{ secrets.PORT }}
            
          
            script: |
                #Now we have got the access of EC2 and we will start the deploy .
                cd /home/ubuntu/booking-app 
                sudo service nginx restart
